[submodule "APIs/Spark-Stream-Api"]
	path = APIs/Spark-Stream-Api
	url = https://github.com/HassanRady/Spark-Stream-Api.git
[submodule "Packages/TwitterHandler"]
	path = Packages/TwitterHandler
	url = https://github.com/HassanRady/TwitterHandler.git
[submodule "Packages/SparkStream"]
	path = Packages/SparkStream
	url = https://github.com/HassanRady/SparkStream.git
[submodule "Tweets-Stream-Dashboard"]
	path = Tweets-Stream-Dashboard
	url = https://github.com/HassanRady/Tweets-Stream-Dashboard.git
[submodule "APIs/Twitter-Handler-Api"]
	path = APIs/Twitter-Handler-Api
	url = https://github.com/HassanRady/Twitter-Handler-Api.git
[submodule "NLP-Services/Keyword-Extraction-Service"]
	path = NLP-Services/Keyword-Extraction-Service
	url = https://github.com/HassanRady/Keyword-Extraction-Service.git
[submodule "NLP-Services/Named-Entity-Recognition-Service"]
	path = NLP-Services/Named-Entity-Recognition-Service
	url = https://github.com/HassanRady/Named-Entity-Recognition-Service.git
[submodule "APIs/CassandraReader"]
	path = APIs/CassandraReader
	url = https://github.com/HassanRady/CassandraReader.git
[submodule "APIs/twitter-trending-hashtags"]
	path = APIs/twitter-trending-hashtags
	url = https://github.com/HassanRady/twitter-trending-hashtags.git
[submodule "TF-Models/Emotion-Text-Detection"]
	path = TF-Models/Emotion-Text-Detection
	url = https://github.com/HassanRady/Emotion-Text-Detection.git
[submodule "TF-Models/Text-Sentiment-Analysis"]
	path = TF-Models/Text-Sentiment-Analysis
	url = https://github.com/HassanRady/Text-Sentiment-Analysis.git
