[submodule "APIs/Spark-Stream-Api"]
	path = APIs/Spark-Stream-Api
	url = https://github.com/HassanRady/Spark-Stream-Api.git
[submodule "Packages/TwitterHandler"]
	path = Packages/TwitterHandler
	url = https://github.com/HassanRady/TwitterHandler.git
[submodule "Packages/SparkStream"]
	path = Packages/SparkStream
	url = https://github.com/HassanRady/SparkStream.git
[submodule "Tweets-Stream-Dashboard"]
	path = Tweets-Stream-Dashboard
	url = https://github.com/HassanRady/Tweets-Stream-Dashboard.git
[submodule "APIs/Twitter-Handler-Api"]
	path = APIs/Twitter-Handler-Api
	url = https://github.com/HassanRady/Twitter-Handler-Api.git
